/* fallback */
@font-face {
  font-family: 'Material Icons Two Tone';
  font-style: normal;
  font-weight: 400;
/*  src: url(https://fonts.gstatic.com/s/materialiconstwotone/v112/hESh6WRmNCxEqUmNyh3JDeGxjVVyMg4tHGctNCu0NjbrHg.woff2) format('woff2'); */
  /* Relative URL, relative to THIS CSS FILE. */
  /* https://stackoverflow.com/questions/68522755/opentypefont-not-displayed-on-firefox-and-safari */
  /* Have to use 'opentype' instead of 'otf'. */
  src: url(/assets/Material_Icons/Material_Icons_Two_Tone/MaterialIconsTwoTone-Regular.otf) format('opentype');
}
body {
  --google-font-color-materialiconstwotone:none;
}

.material-icons-two-tone {
  font-family: 'Material Icons Two Tone';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
