---
layout: default
---

<div class="post">
  <h1>Tags &amp; Posts Using Them</h1>

    <!-- *** Sort tags alpha by tag name, sort posts for tag reverse chronological order. -->
    {% for tag in  site.tags %}
      <a id="{{ tag[0] }}"><h2>{{ tag[0] }}:</h2></a>
      <ul>
        {% for page in tag[1] %}
          <li><span class="date">{{ page.date | date: "%a %Y-%b-%d" }}:</span> <a href="{{ page.url }}">{{ page.title }}</a>
              <br> {{ page.excerpt| strip_html }}
          </li>
        {% endfor %}
      </ul>
     {% endfor %}

</div>
