<table class="meritBadge">
  <tbody>
    <tr>
      <td style="border-collapse: collapse; border: none; border-spacing: 0; padding: 0;">
        <!-- Looks like the validator has issues with HTTPS that prevent referer from
        working? https://validator.w3.org/docs/help.html#faq-referer
        <a href="https://validator.w3.org/check?uri=referer" target="_blank" title="Re-check HTML5 validity of this page">
        -->
        <a href="https://validator.w3.org/check?url={{ site.baseurl }}{{ page.url }}" target="_blank" title="Re-check HTML5 validity of this page">
           <span class="w3c">W3C&nbsp;&nbsp;&nbsp;&nbsp;</span>
           <span class="spec">HTML5</span>
        </a>
      </td>
    </tr>
    <tr>
      <td style="border-collapse: collapse; border: none; border-spacing: 0; padding: 0;">
        <a href="https://jigsaw.w3.org/css-validator/check?uri=referer" target="_blank" title="Re-check CSS Level 3 validity of this page">
           <span class="w3c">W3C&nbsp;&nbsp;&nbsp;&nbsp;</span>
           <span class="spec">CSS 3</span>
        </a>
      </td>
    </tr>
    <tr>
      <td style="border-collapse: collapse; border: none; border-spacing: 0; padding: 0;">
        <a href="https://www.gnu.org/software/emacs" target="_blank" title="Generated in Emacs">
           <span class="w3c">Emacs</span>
           <span class="spec">Generated</span>
        </a>
      </td>
    </tr>
    <tr>
      <td style="border-collapse: collapse; border: none; border-spacing: 0; padding: 0;">
        <a href="http://www.anybrowser.org/campaign/" target="_blank" title="Why we try to be browser-neutral">
           <span class="w3c">ANY&nbsp;&nbsp;&nbsp;&nbsp;</span>
           <span class="spec">Browser</span>
        </a>
      </td>
    </tr>
  </tbody>
</table>
