.meritBadge {
  margin-top:      0;
  padding:         0 0;
  text-align:      left;
  float:           right;
  margin:          0;
  width:           9em;
  font-family:     helvetica,arial,sans-serif;
  font-size:       60%;
  font-weight:     bold;
  border:          none;
  border-collapse: collapse;
  border-spacing:  0;
}

.meritBadge a {
  float: left;
  display: block;
  width:   100%;
}
.meritBadge a:link, .meritBadge a:visited, .meritBadge a:hover {
  text-decoration: none;
  background:      #fc6;
  color:           #000;
}

.meritBadge a:link, .meritBadge a:visited {
  border-top:    1px solid #cecece;
  border-bottom: 2px solid #4a4a4a;
  border-left:   1px solid #cecece;
  border-right:  2px solid #4a4a4a;
}
.meritBadge a:hover {
  border-bottom: 1px solid #cecece;
  border-top:    2px solid #4a4a4a;
  border-right:  1px solid #cecece;
  border-left:   2px solid #4a4a4a;
}

.meritBadge span.w3c {
  text-decoration: none;
  padding:         0 0;
  width:           7em;
  background:      #fff;
  color:           #0c479d;
}
/*
.meritBadge span.spec {
  text-decoration: none;
  padding:         0 0;
  background:      #fc6;
  color:           #000;
}
*/
