<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html    %}
    {% include mathjax.html %}
    
    {% if site.tags != "" %}
      {% include collecttags.html %}
    {% endif %}

    <!--[if lt IE 9]>
      <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" 
          href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" 
          title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="icon" type="image/png" 
          href="{{ site.baseurl }}/{{ site.icon }}" />
    {% include icon-fonts.html %}

  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.baseurl }}/{{ site.avatar }}" alt="Avatar"/></a>

          <div class="site-info">
            <!-- h2 here so h1 can be used for post title, detected as topic by screen readers. -->
            <h2 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h2>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            <span title="Home"><a href="{{ site.baseurl | absolute_url }}"><i class="material-icons-two-tone">home</i></a></span>
            <span title="About"><a href="{{ site.baseurl }}/about/"><i class="material-icons-two-tone">info</i></a></span>
            <span title="Tags"><a href="{{ site.baseurl }}/tags/"><i class="material-icons-two-tone">local_offer</i></a></span>
            <span title="Email"><a href="mailto:{{ site.footer-links.email }}" target="_blank"><i class="material-icons-two-tone">email</i></a></span>
            <span title="RSS Feed (XML)"><a href="{{ site.baseurl }}/feed.xml" target="_blank"><i class="material-icons-two-tone">rss_feed</i></a></span>
            <span title="Sitemap (XML)"><a href="{{ site.baseurl }}/sitemap.xml" target="_blank"><i class="material-icons-two-tone">account_tree</i></a></span>
            {% include merit-badges.html %}
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include site-build.html   %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
