<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html    %}
    {% include mathjax.html %}
    
    {% if site.tags != "" %}
      {% include collecttags.html %}
    {% endif %}

    {% feed_meta %}
     
    <link rel="stylesheet" type="text/css"
          href="{{ site.baseurl }}/style.css">
    <link rel="alternate" type="application/rss+xml"
          title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml">
    <link rel="icon" type="image/png"
          href="{{ site.baseurl }}/{{ site.icon }}">

    {% include icon-fonts.html %}

  </head>

  <body>

    {% include translate.html    %}

    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.baseurl }}/{{ site.avatar }}" alt="Avatar"></a>

          <div class="site-info">
            <!-- h2 here so h1 can be used for post title, detected as topic by screen readers. -->
            <h2 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h2>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            <span title="Home"><a href="{{ site.baseurl | absolute_url }}"><span class="material-icons-two-tone">home</span></a></span>
            <span title="About"><a href="{{ site.baseurl }}/about/"><span class="material-icons-two-tone">info</span></a></span>
            <span title="Tags"><a href="{{ site.baseurl }}/tags/"><span class="material-icons-two-tone">local_offer</span></a></span>
            <span title="Quotes"><a href="{{ site.baseurl }}/quotes/"><span class="material-icons-two-tone">format_quote</span></a></span>
            <span title="Email"><a href="mailto:{{ site.footer-links.email }}" target="_blank"><span class="material-icons-two-tone">email</span></a></span>
	    <!--
            <span title="Twitter">
              <a href="https://twitter.com/weekend_editor/with_replies" target="_blank">
                <img src="{{ siteff.baseurl }}/images/icon-two-tone-twitter.png" width="24" height="24" alt="Twitter" title="Twitter">
              </a>
            </span>
            -->
            <span title="No Twitter,  No More">
	      <a rel="me" href="."> <!-- Mysteriously makes spacing correct. -->
                <img src="{{ site.baseurl }}/images/icon-two-tone-twitter-not.png" width="24" height="24" alt="No Twitter, No More" title="No Twitter, No More">
	      </a>
            </span>
            <span title="BlueSky">
              <a rel="me" href="https://bsky.app/profile/weekend-editor.bsky.social" target="_blank">
                <img src="{{ site.baseurl }}/images/icon-two-tone-bluesky.png" width="24" height="24" alt="BlueSky" title="BlueSky">
              </a>
            </span>
            <span title="Mastodon">
              <a rel="me" href="https://mathstodon.xyz/@weekend_editor" target="_blank">
                <!--
                <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
                <iconify-icon icon="icon-park-twotone:mastodon"></iconify-icon>
                -->
                <img src="{{ site.baseurl }}/images/icon-two-tone-mastodon.png" width="24" height="24" alt="Mastodon" title="Mastodon">
              </a>
            </span>
            <span title="RSS Feed (XML)"><a href="{{ site.baseurl }}/feed.xml" target="_blank"><span class="material-icons-two-tone">rss_feed</span></a></span>
            <span title="Sitemap (XML)"><a href="{{ site.baseurl }}/sitemap.xml" target="_blank"><span class="material-icons-two-tone">account_tree</span></a></span>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include site-build.html   %}
          {% include merit-badges.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
